* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 16px;
  color: dimgray;
}
/*universal issues*/
.flex {
  display: flex;
}

.mobile {
  display: none
}

.h-auto {
  height: auto;
}

.max-width {
  max-width: 100%;
}

.content-big {
  max-width: 60%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.content-small {
  max-width: 40%;
  flex-direction: column;
  flex-wrap: wrap;
}

.img-container{
  max-width: 35%;
  }

/*header*/
header {
  width: 100%;
  height: 4rem;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  position: fixed;
}

.logo {
  justify-content: flex-start;
  align-items: center;
  height: 2em;
}

.logo span:nth-child(2){
  font-weight: bold;
}

.logo img {
  height: 2rem;
}

nav span {
  margin-right: 1rem;
}

nav a {
  text-decoration: none;
  color: dimgray;
}

nav a:hover {
  color: #ff6600;
  transition: color 0.3s ease-in;
}

/*banner*/
.banner{
  padding-top: rem;
  background-color: lightgrey;
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.banner .content-small {
  justify-content: center;
}

.text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.text p {
  margin-bottom: 1rem;
}

.button {
  background-color: grey;
  padding: 1rem 5rem;
  color: white;
  border-radius: 3px;
}

.button a {
  text-decoration: none;
  color: white;
}

.button:hover {
  background-color: #ff6600;
  transition: background-color 0.4s ease-in-out;
  cursor: pointer;
}

/*big-img section*/

.hurt {
  padding-bottom: 2rem;
}

.hurt h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  padding-left: 0px;
}

.hurt span {
  display: block;
  margin-top: 1rem;
}

.text {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.text a {
  text-decoration: none;
}

h3 {
  font-weight: bold;
  font-size: 1.7rem;
}

.small {
  border-radius: 3px;
  padding: 1rem;
}


.small .text {
  margin-left: 1rem;
}

.small:hover {
  background-color: lightgray;
  cursor: pointer;
  transition: background-color 0.4s ease-out;
}

/*start learning section*/
.learning-section h2 {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 2rem 0;
  background-color: lightgray;
  }

.start {
  flex-wrap: wrap;
  padding: 0 4.5rem;
  justify-content: center;
  background-color: lightgray;
}

.item {
  max-width: 30%;
  flex-direction: column;
  margin-bottom: 2rem;
  background-color: white;
}

.item:nth-child(3n + 2) {
  margin: 0 2rem 2rem;
}

.item h3 {
  margin: 1rem;
}

.item h4 {
  margin: 0.5rem 1rem;
}

.item p {
  margin: 0 auto 1.5rem 1rem;
}

/*thesis section with video*/
h2 {
 display: block;
 justify-content: center;
 padding: 2rem;
 font-size: 2.5rem;
 font-weight: bold;
}

.thesis {
  box-sizing: border-box;
  width: 100%;
}

.video {
  padding-bottom: 2rem;
}

.video h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

/*footer*/
footer {
  padding: 1rem 1.5rem;
  justify-content: space-between;
}

.terms span {
  margin-left: 1.5rem;
}
