* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  font-family: "Exo";
  color: #474747;
}

/*universal issues*/
.flex {
  display: flex;
}

.mobile, .mobile-img {
  display: none
}

.h-auto {
  height: auto;
}

.max-width {
  max-width: 100%;
}

.content-big {
  max-width: 60%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.content-small {
  max-width: 40%;
  flex-direction: column;
  flex-wrap: wrap;
}

.content-small h3 {
  margin-bottom: 0.5rem;
}

.img-container{
  max-width: 35%;
  }

  p {
    line-height: 150%;
  }

/*header*/
header {
  width: 100%;
  height: 4rem;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  position: fixed;
}

.logo {
  justify-content: flex-start;
  align-items: center;
  height: 2em;
}

.logo span:nth-child(2){
  font-weight: bold;
}

.logo img {
  height: 2rem;
}

nav span {
  margin-right: 1rem;
}

nav a {
  text-decoration: none;
  color: dimgray;
}

nav a:hover ,footer a:hover {
  color: #e0ac04;
  transition: color 0.3s ease-in;
}

/*banner*/
.banner{
  padding-top: rem;
  background-color: lightgrey;
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.banner .content-small {
  justify-content: center;
}

.text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.text p {
  margin-bottom: 1rem;
}

.button {
  background-color: gray;
  padding: 1rem 5rem;
  color: white;
  border-radius: 3px;
}

.button a {
  text-decoration: none;
  color: white;
}

.button:hover {
  background-color: #e0ac04;
  transition: background-color 0.4s ease-in-out, text-shadow 0.4s ease-in-out;
  cursor: pointer;
  text-shadow: 1px 1px grey;
}

/*big-img section*/

.hurt {
  padding-bottom: 2rem;
}

.hurt h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  padding-left: 0px;
}

.hurt span {
  display: block;
  margin-top: 1rem;
}

.text {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.text a {
  text-decoration: none;
}

h3 {
  font-weight: bold;
  font-size: 1.7rem;
}

.small {
  border-radius: 3px;
  padding: 1rem;
}


.small .text {
  margin-left: 1rem;
}

.small:hover {
  background-color: lightgray;
  cursor: pointer;
  transition: background-color 0.4s ease-out;
}

/*start learning section*/
.learning-section h2 {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 2rem 0;
  background-color: lightgray;
  }

.start {
  flex-wrap: wrap;
  padding: 0 4.5rem;
  justify-content: center;
  background-color: lightgray;
}

.item {
  max-width: 30%;
  flex-direction: column;
  margin-bottom: 2rem;
  background-color: white;
}

.item:nth-child(3n + 2) {
  margin: 0 2rem 2rem;
}

.item h3 {
  margin: 1rem;
}

.item a {
  text-decoration: none;
  color: #696969;
}

.item a:hover {
  color: #474747;
  transition: color 0.5s ease-out;
}

.item h4 {
  margin: 0.5rem 1rem;
}

.item p {
  margin: 0 auto 1.5rem 1rem;
}

/*thesis section with video*/
h2 {
 display: block;
 justify-content: center;
 padding: 2rem;
 font-size: 2.5rem;
 font-weight: bold;
}

.thesis {
  box-sizing: border-box;
  width: 100%;
}

.video {
  padding-bottom: 2rem;
}

.video h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

/*footer*/
footer {
  padding: 1rem 1.5rem;
  justify-content: space-between;
}

.terms span {
  margin-left: 1.5rem;
}

.terms a {
  text-decoration: none;
  color: dimgray;
}

@media only screen and (max-width: 860px){

  /*banner*/
  .banner {
    flex-direction: column;
    padding-top: 4rem;
  }

  .content-big {
    max-width: 100%;
    margin: 0px;
  }

  .banner .content-small {
    max-width: 100%;
  }

  .button:active {
    background-color: #e0ac04;
    cursor: pointer;
  }

  .text {
    margin: 2rem 1rem ;
    align-items: center;
  }

  .text h1 {
    margin: 32px auto;
  }

  .text p {
    margin-bottom: 1.5rem;
  }


  /*hurt*/
  .hurt .content-big {
    display: none;
  }

  .hurt .content-small {
    max-width: 100%;
  }

  .small {
  flex-direction: column;
  margin: 0;
  max-width: 100%;
  }

  .small:hover {
    background-color: white;
    cursor: pointer;
    transition: none;
  }

  .desktop {
  display: none;
  }

  .mobile-img  {
  display: block;
  width: 100%;
  height: auto;
  }

  .img-container {
    max-width: 100%;
    margin-bottom: 1rem;
  }

  .three-pictures {
    width: 100%;
  }

  .three-pictures .text {
    padding: 1rem;
    margin-bottom: 4rem;
    align-items: flex-start;
    font-size: 1.5rem;
  }

  .three-pictures h3 {
    margin-bottom: 1rem;
    font-size: 2rem;

  }

/*start learning*/

.learning-section h2 {
  background-color: white;
}

.item {
  margin: 0 0 0.5rem 0;
  max-width: 100%;
  background-color: #D3D3D3; /*lightgray*/
  padding: 1rem 1rem;
  border-radius: 5px;
}

.item:nth-child(3n + 2) {
  margin: 0 0 0.5rem 0;
}

.item img {
  display: none;
}

.item h4, .item p {
  display: none;
}

.item h3 {
  display: block;
}

.item:active, .item:hover {
  background-color: #C2C2C2;
}

.start {
  flex-direction: column;
  background-color: white;
  padding: 1rem;
}

/*thesis section*/
.thesis {
  flex-direction: column;
}

.sides, .video h3, .video p {
  display: none;
}

  .video {
    padding-bottom: 1.5rem;
  }

  /*footer*/
  footer {
    justify-content: center;
  }
  .terms {
    display: none;
  }
}


@media only screen and (max-width: 600px){

  html {
    font-size: 0.75rem;
  }
  /*header*/
  .logo {
    display: none;
  }

  nav {
    display: none;
  }

  header {
    height: 4rem;
  }

  .icons {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

}
